{
  "Name":  "XCode数据缓存，用于加速各实体类启动",
  "Counts":  {
    "Membership_Parameter_Parameter":  0,
    "School_Student_Student":  0,
    "Membership_User_UserX":  1,
    "Membership_Department_Department":  7,
    "School_CustomerLink_CustomerLink":  2,
    "Bill_Trade_Trade":  0,
    "School_xxx_class_Class":  0,
    "Log_UserOnline_UserOnline":  9,
    "Log_Log_Log":  81,
    "Membership_Role_Role":  4
  },
  "FieldCache":  {
    "Log_Category":  {
      
    }
  }
}